#confirm-button {
	background: #fff;
	
	border-radius: 2rem;

	max-width: 6.5rem;
	min-width: 5rem;

	max-height: 3rem;
	min-height: 2.5rem;
	
	color: #24755dff;
	
	font-weight: bolder;

	padding: 0 0.5rem;
}

#negative-button {
	border-radius: 2rem;

	max-width: 6.5rem;
	min-width: 5rem;

	max-height: 3rem;
	min-height: 2.5rem;
	
	color: #ff3333;

	font-weight: 700;

	padding: 0 0.5rem;
}